@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Russo+One&display=swap');

:root{
    --colorAzu: #004AAD;
    --AzulBajo: #D1EBF6;
    --letraTexto: 'Overpass', sans-serif;
}

*{
    font-family: 'Russo One', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

        /*  PAGINA DE PRESENTACION */

.presentacion{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.presentacion .texto{
    width: 50%;
    height: auto;
    text-align: center;
}

.texto h1{
    font-size: 6.7em;
    letter-spacing: 2px;
}

.texto p{
    font-size: 2.3em;
    margin-bottom: 9vh;
}

.texto a{
    text-decoration: none;
    background-color: var(--colorAzu);
    font-family: var(--letraTexto);
    font-size: 1.5em;
    padding: 2.3% 14%;
    border-radius: 999em;
    transition: all 0.6s ease-out;
    color: #fff;
}

.imagen{
    width: 40%;
    margin-left: 5%;
}

.imagen img{
    width: 80%;
}

        /* SECCION: SERVICIOS COMPUTO */
.servicios-computo{
    text-align: center;
    width: 100%;
    height: auto;  
}

.servicios-computo h2{
    font-size: 3.1em;
    margin-bottom: 15vh;
}

.contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*width: 80%;
    margin: auto;*/
}   


.contenedor-servicios .servicio{
    width: 280px;
    height: 300px;
    background-color: #fff;
    color: #000;
    margin: 9vh 4%;
    border-radius: 20px;
    position: relative;
    transition: all 1s ease;
    text-align: center;
}

.servicio .img-servicio{
    width: 100%;
    text-align: center;
    align-items: center;
    transform: translateY(-56%);
}

.servicio img{
    width: 70%;
}

.servicio .text-servicio{
    width: 100%;
    margin: auto;
    padding: 5%;
    transform: translateY(-50%);
    transition: all .6s ease;
}

.text-servicio h3{
    text-align: left;
    color: var(--colorAzu);
    font-size: 1.3em;
    margin: 5% 0;
    transition: all .6s ease;
}

.text-servicio p{
    text-align: left;
    font-family: var(--letraTexto);
    transition: all .6s ease;
}


.text-servicio .btnVer{
    display: none;
    visibility: hidden;
    background-color: var(--colorAzu);
    color: #fff;
    text-decoration: none;
    padding: 2.5% 5%;
    border-radius: 5px;
    font-family: var(--letraTexto);
    text-align: center;
    transition: all .6s ease;
}


        /* OTROS SERVICIOS */

.otros-servicios{
    width: 100%;
    margin-top: 10vh;
    text-align: center;
}

.otros-servicios h2{
    font-size: 3.1em;
    margin-bottom: 17vh;
}


    /* Contenedor de imagenes en Pentagono*/

.contenedor-otros{
    width: 95%;
    max-width: 1200px;
    margin: auto;

    /*background-color: aqua;*/
    display: grid;
    grid-template-columns:  repeat(auto-fit, 135px);
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 1em;
}
.conten-penta p{
    z-index: 2;
    position: relative;
    visibility: visible;
    transition: all .10s ease;
    color: rgb(255, 255, 255);
    z-index: 2;
    font-size: 1.8em;
    padding: 3%;
    margin-top: 18vh;
}

.conten-penta{
    clip-path: polygon(50% 0%,100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: span 2;
    height: 283px;
    position: relative;
    margin: 0 4%;
}

.conten-penta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.cont2{
    transform: translateY(-10vh);   

}


.descripcion{
   /* visibility: hidden; */
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: #000;
    transition: all .5s ease;
    z-index: 5;
    transform: translateY(100%);
    transition: all .8s ease;
}


.descripcion p{
    color: #000;
    font-size: 1.2em;
    padding: 2%;
    margin-top: 15vh;
    margin-bottom: 3vh;
}


.descripcion a{
    background-color: var(--colorAzu);
    color: #fff;
    text-decoration: none;
    padding: 2.5% 5%;
    border-radius: 5px;
    font-family: var(--letraTexto);
    text-align: center;
    transition: all .5s ease;
}



        /* CONTACTO */

.contacto{
    width: 100%;
    height: auto;
    margin-top: 25vh;
}

.nombre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.nombre img{
    width: 15%;
    margin-right: 2vw;
}

.nombre h2{
    font-size: 3.4em;
}

.contactos-datos{
    width: 100%;
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactos-datos .datos{
    text-align: center;
    width: 40%;
}

.datos h3{
    letter-spacing: 2px;
    font-size: 2em;
    color: #F9B850;
}

.datos p{
    font-size: 1.2em;
    letter-spacing: 1.5px;
}

.redes-sociales{
    margin: 18vh 0 15vh 0;
    text-align: center;
}

.redes-sociales a{
    color: #fff;
    font-size: 3em;
    margin: 0 1%;
}

.redes-sociales a i{
    transition: all .4s ease;
}





/* animaciones */
.texto a:hover{
    color: var(--colorAzu);
    background-color: #fff;    
}

.redes-sociales a:hover i{
    transform: scale(1.2);
}


    /* Animacion para mostrar boton en servicios computo */
.contenedor-servicios .servicio:hover .text-servicio p{
    margin-bottom: 10px;
}

.contenedor-servicios .servicio:hover .text-servicio{
    transform: translateY(-50%);
}

.contenedor-servicios .servicio:hover .btnVer{
    display: flex;
    visibility: visible;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid var(--colorAzu);
}

.text-servicio a:hover{
    color: var(--colorAzu);
    background-color: #fff;  
}


/* Animaciones para Otros Servicios */


.conten-penta:hover .descripcion{
    transform: translateY(-60%);
}

.descripcion a:hover{
    color: var(--colorAzu);
    background-color: #fff;  
    border: 1px solid var(--colorAzu); 
    border-radius: 5px;
}